@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}







body {
  display: flex;
  flex-direction: column;
}

a {
  all: unset;
}

ul {
  gap: 16px;
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

button {
  padding: 8px 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(242, 242, 242);
  font-size: 14px;
  color:rgb(97, 97, 97)
}

